<a href="https://colab.research.google.com/github/Rushabhbhagat08/Pyspark/blob/main/Pyspark_practic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Learn Pyspark

##1. Installation Of pyspark Library

In [6]:
#installation pyspark library
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=962131f5bf9f183254fcd7351b616cfc27327d4795fe10fa6cc5ac8af90c4548
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [7]:
#import pyspark freamwork
import pyspark

###Create a pyspark secession

In [8]:
# import sparksession from pyspark
from pyspark.sql import SparkSession

In [9]:
# build session
spark=SparkSession.builder.appName('pyspark_practise').getOrCreate()

In [10]:
#see the session
spark

Now, we are create a pyspark seeeion our app name is Pyspark_practise. Here we execute a local machine so, there is only one cluster but when we execute in a cloud there are number of clusters. The spark version we use that is V3.5.0.

#2. Reading the Dataset

In [11]:
# upload the google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
# read the file from drive
df_pyspark=spark.read.csv("/content/drive/MyDrive/Pyspark/Pyspark_demo.csv")

In [14]:
# see tthe dataset
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

#3. Pyspark Dataframe

In [15]:
# overview of the dataset
df_pyspark.show()

+--------------+----+----------+
|           _c0| _c1|       _c2|
+--------------+----+----------+
| Employee name|Age |Experience|
|Mayur Kalamkar|  25|        10|
| Sharad Dhole |  26|        20|
|Rushabh Bhagat|  26|         5|
+--------------+----+----------+

Now in this data fream show the two columns i.e. C0 and C1. But its show the C0 and C1 as a header so, we modified that header lets see the new command.

In [16]:
# fixed the header of the dataset
spark.read.option('header','true').csv('/content/drive/MyDrive/Pyspark/Pyspark_demo.csv').show()

+--------------+----+----------+
| Employee name|Age |Experience|
+--------------+----+----------+
|Mayur Kalamkar|  25|        10|
| Sharad Dhole |  26|        20|
|Rushabh Bhagat|  26|         5|
+--------------+----+----------+

In [17]:

df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/Pyspark/Pyspark_demo.csv')

#4. Types of dataFrame

In [18]:
# type of the dataframe
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

### show the top rows in dataframe

In [19]:
# top 3 rows in dataframe
df_pyspark.head(3)

[Row(Employee name='Mayur Kalamkar', Age ='25', Experience='10'),
 Row(Employee name='Sharad Dhole ', Age ='26', Experience='20'),
 Row(Employee name='Rushabh Bhagat', Age ='26', Experience='5')]

#5. Checking Datatype and columns

In [20]:
# information about dataset
df_pyspark.printSchema()

root
 |-- Employee name: string (nullable = true)
 |-- Age : string (nullable = true)
 |-- Experience: string (nullable = true)

It gives the information about your dataset.But now here to see the Age and Experience columns is integer datatype but its show string. so, there is a option in csv i.e. inferscheme this by default false so it show the all values are string datatype.

In [21]:
# using a options
df_pyspark=spark.read.options(inferSchema=True,header=True).csv('/content/drive/MyDrive/Pyspark/Pyspark_demo.csv')

Here we use options() it means it gives a multiple arguments but in option() take  single arguments. **Note: inferSchema not work in option().**

In [22]:
# show the informaation of the dataset
df_pyspark.printSchema()

root
 |-- Employee name: string (nullable = true)
 |-- Age : integer (nullable = true)
 |-- Experience: integer (nullable = true)

##Another Way

In [23]:
#another way to using inferSchema
df_pyspark=spark.read.csv('/content/drive/MyDrive/Pyspark/Pyspark_demo.csv',header=True,inferSchema=True)

In [24]:
# show the informaation of the dataset
df_pyspark.printSchema()

root
 |-- Employee name: string (nullable = true)
 |-- Age : integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [25]:
# get the columns name in our dataset
df_pyspark.columns

['Employee name', 'Age ', 'Experience']

In [26]:
# select a perticular colums and see the datatype of that
df_pyspark.select('Employee Name')

DataFrame[Employee Name: string]

In [27]:
#show a first colums
df_pyspark.select('Employee name').show()

+--------------+
| Employee name|
+--------------+
|Mayur Kalamkar|
| Sharad Dhole |
|Rushabh Bhagat|
+--------------+

In [28]:
# now pick a multiple columns
df_pyspark.select(['Employee Name', 'Experience']).show()

+--------------+----------+
| Employee Name|Experience|
+--------------+----------+
|Mayur Kalamkar|        10|
| Sharad Dhole |        20|
|Rushabh Bhagat|         5|
+--------------+----------+

In [29]:
# show the datatype of the dataframe
df_pyspark.dtypes

[('Employee name', 'string'), ('Age ', 'int'), ('Experience', 'int')]

## Adding the columns

In [30]:
# adding column in the datafream
df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2).show()

+--------------+----+----------+------------------------+
| Employee name|Age |Experience|Experience After 2 years|
+--------------+----+----------+------------------------+
|Mayur Kalamkar|  25|        10|                      12|
| Sharad Dhole |  26|        20|                      22|
|Rushabh Bhagat|  26|         5|                       7|
+--------------+----+----------+------------------------+

## Droping the columns

In [31]:
# delate column from datafream
df_pyspark.drop('Experience After 2 years').show()

+--------------+----+----------+
| Employee name|Age |Experience|
+--------------+----+----------+
|Mayur Kalamkar|  25|        10|
| Sharad Dhole |  26|        20|
|Rushabh Bhagat|  26|         5|
+--------------+----+----------+

In [32]:
# Renaming  column
df_pyspark.withColumnRenamed('Employee Name','Name').show()

+--------------+----+----------+
|          Name|Age |Experience|
+--------------+----+----------+
|Mayur Kalamkar|  25|        10|
| Sharad Dhole |  26|        20|
|Rushabh Bhagat|  26|         5|
+--------------+----+----------+