<a href="https://colab.research.google.com/github/Rushabhbhagat08/Pyspark/blob/main/Pyspark_practic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Learn Pyspark

##1. Installation Of pyspark Library

In [1]:
#installation pyspark library
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=071a6b4691c08216c149c6c9f9b36b4340efc9224fdac8e2e586a666142a0b94
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
#import pyspark freamwork
import pyspark

###Create a pyspark sessions

In [3]:
# import sparksession from pyspark
from pyspark.sql import SparkSession

In [4]:
# build session
spark=SparkSession.builder.appName('pyspark_practise').getOrCreate()

In [5]:
#see the session
spark

Now, we are create a pyspark seeeion our app name is Pyspark_practise. Here we execute a local machine so, there is only one cluster but when we execute in a cloud there are number of clusters. The spark version we use that is V3.5.0.

#2. Reading the Dataset

In [6]:
# upload the google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
# read the file from drive
df_pyspark=spark.read.csv("/content/drive/MyDrive/Pyspark/Pyspark_demo.csv")
# df_pyspark1=spark.read.csv('/content/drive/MyDrive/Pyspark/Pyspark_demo.csv')

In [8]:
# see tthe dataset
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

#3. Pyspark Dataframe

In [9]:
# overview of the dataset
df_pyspark.show()

+----------------+-------------+----------+------+
|             _c0|          _c1|       _c2|   _c3|
+----------------+-------------+----------+------+
|   Employee name|Employee Age |Experience|Salary|
|  Mayur Kalamkar|           25|         8| 70000|
|   Sharad Dhole |           26|         4| 40000|
|  Rushabh Bhagat|           26|         3| 30000|
|   Shubham Harne|           25|        10|100000|
| Shubham Ambekar|           28|         1| 10000|
|Ravindra Thombre|         NULL|      NULL| 50000|
|            NULL|           23|      NULL| 60000|
|           Akash|           21|      NULL| 40000|
|           Pyush|         NULL|      NULL|  NULL|
|           Rohan|           24|         5|  NULL|
+----------------+-------------+----------+------+

Now in this data fream show the two columns i.e. C0 and C1. But its show the C0 and C1 as a header so, we modified that header lets see the new command.

In [10]:
# Fixed the header of the dataset
spark.read.option('header','true').csv('/content/drive/MyDrive/Pyspark/Pyspark_demo.csv').show()

+----------------+-------------+----------+------+
|   Employee name|Employee Age |Experience|Salary|
+----------------+-------------+----------+------+
|  Mayur Kalamkar|           25|         8| 70000|
|   Sharad Dhole |           26|         4| 40000|
|  Rushabh Bhagat|           26|         3| 30000|
|   Shubham Harne|           25|        10|100000|
| Shubham Ambekar|           28|         1| 10000|
|Ravindra Thombre|         NULL|      NULL| 50000|
|            NULL|           23|      NULL| 60000|
|           Akash|           21|      NULL| 40000|
|           Pyush|         NULL|      NULL|  NULL|
|           Rohan|           24|         5|  NULL|
+----------------+-------------+----------+------+

In [11]:
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/Pyspark/Pyspark_demo.csv')

#4. Types of dataFrame

In [12]:
# Type of the dataframe
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

### show the top rows in dataframe

In [13]:
# Top 3 rows in dataframe
df_pyspark.head(3)

[Row(Employee name='Mayur Kalamkar', Employee Age ='25', Experience='8', Salary='70000'),
 Row(Employee name='Sharad Dhole ', Employee Age ='26', Experience='4', Salary='40000'),
 Row(Employee name='Rushabh Bhagat', Employee Age ='26', Experience='3', Salary='30000')]

#5. Checking Datatype and columns

In [14]:
# Information about dataset
df_pyspark.printSchema()

root
 |-- Employee name: string (nullable = true)
 |-- Employee Age : string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

It gives the information about your dataset.But now here to see the Age and Experience columns is integer datatype but its show string. so, there is a option in csv i.e. inferscheme this by default false so it show the all values are string datatype.

In [15]:
# Using a options
df_pyspark_inferschema=spark.read.options(inferSchema=True,header=True).csv('/content/drive/MyDrive/Pyspark/Pyspark_demo.csv')

Here we use options() it means it gives a multiple arguments but in option() take  single arguments. **Note: inferSchema not work in option().**

In [16]:
# Show the informaation of the dataset
df_pyspark_inferschema.printSchema()

root
 |-- Employee name: string (nullable = true)
 |-- Employee Age : integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

##Another Way

In [17]:
#Another way to using inferSchema
df_pyspark_inferschema=spark.read.csv('/content/drive/MyDrive/Pyspark/Pyspark_demo.csv',header=True,inferSchema=True)

In [18]:
# Show the informaation of the dataset
df_pyspark_inferschema.printSchema()

root
 |-- Employee name: string (nullable = true)
 |-- Employee Age : integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [19]:
# get the columns name in our dataset
df_pyspark.columns

['Employee name', 'Employee Age ', 'Experience', 'Salary']

In [20]:
# Select a perticular colums and see the datatype of that
df_pyspark.select('Employee Name')

DataFrame[Employee Name: string]

In [21]:
#Show a first colums
df_pyspark.select('Employee name').show()

+----------------+
|   Employee name|
+----------------+
|  Mayur Kalamkar|
|   Sharad Dhole |
|  Rushabh Bhagat|
|   Shubham Harne|
| Shubham Ambekar|
|Ravindra Thombre|
|            NULL|
|           Akash|
|           Pyush|
|           Rohan|
+----------------+

In [22]:
# Now pick a multiple columns
df_pyspark.select(['Employee Name', 'Experience']).show()

+----------------+----------+
|   Employee Name|Experience|
+----------------+----------+
|  Mayur Kalamkar|         8|
|   Sharad Dhole |         4|
|  Rushabh Bhagat|         3|
|   Shubham Harne|        10|
| Shubham Ambekar|         1|
|Ravindra Thombre|      NULL|
|            NULL|      NULL|
|           Akash|      NULL|
|           Pyush|      NULL|
|           Rohan|         5|
+----------------+----------+

In [23]:
# Show the datatype of the dataframe
df_pyspark.dtypes

[('Employee name', 'string'),
 ('Employee Age ', 'string'),
 ('Experience', 'string'),
 ('Salary', 'string')]

## Adding the columns

In [24]:
# Adding column in the datafream
df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2).show()

+----------------+-------------+----------+------+------------------------+
|   Employee name|Employee Age |Experience|Salary|Experience After 2 years|
+----------------+-------------+----------+------+------------------------+
|  Mayur Kalamkar|           25|         8| 70000|                    10.0|
|   Sharad Dhole |           26|         4| 40000|                     6.0|
|  Rushabh Bhagat|           26|         3| 30000|                     5.0|
|   Shubham Harne|           25|        10|100000|                    12.0|
| Shubham Ambekar|           28|         1| 10000|                     3.0|
|Ravindra Thombre|         NULL|      NULL| 50000|                    NULL|
|            NULL|           23|      NULL| 60000|                    NULL|
|           Akash|           21|      NULL| 40000|                    NULL|
|           Pyush|         NULL|      NULL|  NULL|                    NULL|
|           Rohan|           24|         5|  NULL|                     7.0|
+----------------+-------------+----------+------+------------------------+

##6. Droping the columns

In [25]:
# Delate column from datafream
df_pyspark.drop('Experience After 2 years').show()

+----------------+-------------+----------+------+
|   Employee name|Employee Age |Experience|Salary|
+----------------+-------------+----------+------+
|  Mayur Kalamkar|           25|         8| 70000|
|   Sharad Dhole |           26|         4| 40000|
|  Rushabh Bhagat|           26|         3| 30000|
|   Shubham Harne|           25|        10|100000|
| Shubham Ambekar|           28|         1| 10000|
|Ravindra Thombre|         NULL|      NULL| 50000|
|            NULL|           23|      NULL| 60000|
|           Akash|           21|      NULL| 40000|
|           Pyush|         NULL|      NULL|  NULL|
|           Rohan|           24|         5|  NULL|
+----------------+-------------+----------+------+

In [26]:
# Renaming  column
df_pyspark.withColumnRenamed('Employee Name','Name').show()

+----------------+-------------+----------+------+
|            Name|Employee Age |Experience|Salary|
+----------------+-------------+----------+------+
|  Mayur Kalamkar|           25|         8| 70000|
|   Sharad Dhole |           26|         4| 40000|
|  Rushabh Bhagat|           26|         3| 30000|
|   Shubham Harne|           25|        10|100000|
| Shubham Ambekar|           28|         1| 10000|
|Ravindra Thombre|         NULL|      NULL| 50000|
|            NULL|           23|      NULL| 60000|
|           Akash|           21|      NULL| 40000|
|           Pyush|         NULL|      NULL|  NULL|
|           Rohan|           24|         5|  NULL|
+----------------+-------------+----------+------+

##1. Droping Null values

In [27]:
# see our dataset
df_pyspark.show()

+----------------+-------------+----------+------+
|   Employee name|Employee Age |Experience|Salary|
+----------------+-------------+----------+------+
|  Mayur Kalamkar|           25|         8| 70000|
|   Sharad Dhole |           26|         4| 40000|
|  Rushabh Bhagat|           26|         3| 30000|
|   Shubham Harne|           25|        10|100000|
| Shubham Ambekar|           28|         1| 10000|
|Ravindra Thombre|         NULL|      NULL| 50000|
|            NULL|           23|      NULL| 60000|
|           Akash|           21|      NULL| 40000|
|           Pyush|         NULL|      NULL|  NULL|
|           Rohan|           24|         5|  NULL|
+----------------+-------------+----------+------+

In [28]:
#Drop null values from dataset
df_pyspark.na.drop().show()

+---------------+-------------+----------+------+
|  Employee name|Employee Age |Experience|Salary|
+---------------+-------------+----------+------+
| Mayur Kalamkar|           25|         8| 70000|
|  Sharad Dhole |           26|         4| 40000|
| Rushabh Bhagat|           26|         3| 30000|
|  Shubham Harne|           25|        10|100000|
|Shubham Ambekar|           28|         1| 10000|
+---------------+-------------+----------+------+

Here, we see that all the null rows are remove. last 4 rows are delated. so the drop function drop all the nulll values in the dataset. There are 3 parameters in the drop function i.e. "How","Thresh" and "subset".

###1. Using How

In [29]:
# any=How
df_pyspark.na.drop(how='any').show()

+---------------+-------------+----------+------+
|  Employee name|Employee Age |Experience|Salary|
+---------------+-------------+----------+------+
| Mayur Kalamkar|           25|         8| 70000|
|  Sharad Dhole |           26|         4| 40000|
| Rushabh Bhagat|           26|         3| 30000|
|  Shubham Harne|           25|        10|100000|
|Shubham Ambekar|           28|         1| 10000|
+---------------+-------------+----------+------+

1. If "any" drop a row if its contain any null values.
2. if "all" drop only all the null values in the dataset.

In [30]:
# uisng how= all
df_pyspark.na.drop(how='all').show()

+----------------+-------------+----------+------+
|   Employee name|Employee Age |Experience|Salary|
+----------------+-------------+----------+------+
|  Mayur Kalamkar|           25|         8| 70000|
|   Sharad Dhole |           26|         4| 40000|
|  Rushabh Bhagat|           26|         3| 30000|
|   Shubham Harne|           25|        10|100000|
| Shubham Ambekar|           28|         1| 10000|
|Ravindra Thombre|         NULL|      NULL| 50000|
|            NULL|           23|      NULL| 60000|
|           Akash|           21|      NULL| 40000|
|           Pyush|         NULL|      NULL|  NULL|
|           Rohan|           24|         5|  NULL|
+----------------+-------------+----------+------+

Basically its not work beacuse not all the complate row is null. so it drop all the row which present null values.

###2. Using Thresh

In [31]:
# threshold
df_pyspark.na.drop(how='any', thresh=2).show()

+----------------+-------------+----------+------+
|   Employee name|Employee Age |Experience|Salary|
+----------------+-------------+----------+------+
|  Mayur Kalamkar|           25|         8| 70000|
|   Sharad Dhole |           26|         4| 40000|
|  Rushabh Bhagat|           26|         3| 30000|
|   Shubham Harne|           25|        10|100000|
| Shubham Ambekar|           28|         1| 10000|
|Ravindra Thombre|         NULL|      NULL| 50000|
|            NULL|           23|      NULL| 60000|
|           Akash|           21|      NULL| 40000|
|           Rohan|           24|         5|  NULL|
+----------------+-------------+----------+------+

Basically threshold is that is drop the perticalar value in nulll values for example: here threshold =2 so those rows are atleast two null values are presented the row are drop from dataset.

###3. Using subset

In [32]:
#using subset argument in drop method
df_pyspark.na.drop(how='any',subset=['salary']).show()

+----------------+-------------+----------+------+
|   Employee name|Employee Age |Experience|Salary|
+----------------+-------------+----------+------+
|  Mayur Kalamkar|           25|         8| 70000|
|   Sharad Dhole |           26|         4| 40000|
|  Rushabh Bhagat|           26|         3| 30000|
|   Shubham Harne|           25|        10|100000|
| Shubham Ambekar|           28|         1| 10000|
|Ravindra Thombre|         NULL|      NULL| 50000|
|            NULL|           23|      NULL| 60000|
|           Akash|           21|      NULL| 40000|
+----------------+-------------+----------+------+

In a subset is a parameter only remove a null values in particular column.Hrere remove a salary column null values.

##2. Filling null values

In [33]:
# using fillna only argument
df_pyspark.fillna("Missing Values").show()

+----------------+--------------+--------------+--------------+
|   Employee name| Employee Age |    Experience|        Salary|
+----------------+--------------+--------------+--------------+
|  Mayur Kalamkar|            25|             8|         70000|
|   Sharad Dhole |            26|             4|         40000|
|  Rushabh Bhagat|            26|             3|         30000|
|   Shubham Harne|            25|            10|        100000|
| Shubham Ambekar|            28|             1|         10000|
|Ravindra Thombre|Missing Values|Missing Values|         50000|
|  Missing Values|            23|Missing Values|         60000|
|           Akash|            21|Missing Values|         40000|
|           Pyush|Missing Values|Missing Values|Missing Values|
|           Rohan|            24|             5|Missing Values|
+----------------+--------------+--------------+--------------+

In fill or fillna is replace all the null value in given value so, in fill method there are another argument i.e. subset. it basically fill only perticular column values.

In [34]:
# fillna using subset
df_pyspark.fillna("Missing Values","Experience").show()

+----------------+-------------+--------------+------+
|   Employee name|Employee Age |    Experience|Salary|
+----------------+-------------+--------------+------+
|  Mayur Kalamkar|           25|             8| 70000|
|   Sharad Dhole |           26|             4| 40000|
|  Rushabh Bhagat|           26|             3| 30000|
|   Shubham Harne|           25|            10|100000|
| Shubham Ambekar|           28|             1| 10000|
|Ravindra Thombre|         NULL|Missing Values| 50000|
|            NULL|           23|Missing Values| 60000|
|           Akash|           21|Missing Values| 40000|
|           Pyush|         NULL|Missing Values|  NULL|
|           Rohan|           24|             5|  NULL|
+----------------+-------------+--------------+------+

#7. Handling Missing Values by mean, median, and mode

###1. Mean

In [47]:
# use immputer feature here
from pyspark.ml.feature import Imputer
imputer=Imputer(
        inputCols=['Employee Age ','Experience','Salary'],
        outputCols=["{}_imputed".format(c) for c in ['Employee Age ','Experience','Salary']]
        ).setStrategy("mean")

Imputation estimator for completing missing values, using the mean, median or mode of the columns in which the missing values are located. The input columns should be of numeric type. Currently Imputer does not support categorical features and possibly creates incorrect values for a categorical feature.
**Note that the mean/median/mode value is computed after filtering out missing values.** All Null values in the input columns are treated as missing, and so are also imputed. For computing median, pyspark.sql.DataFrame.approxQuantile is used with a relative error of 0.001.

In [48]:
# use trasnform method
imputer.fit(df_pyspark_inferschema).transform(df_pyspark_inferschema).show()

+----------------+-------------+----------+------+---------------------+------------------+--------------+
|   Employee name|Employee Age |Experience|Salary|Employee Age _imputed|Experience_imputed|Salary_imputed|
+----------------+-------------+----------+------+---------------------+------------------+--------------+
|  Mayur Kalamkar|           25|         8| 70000|                   25|                 8|         70000|
|   Sharad Dhole |           26|         4| 40000|                   26|                 4|         40000|
|  Rushabh Bhagat|           26|         3| 30000|                   26|                 3|         30000|
|   Shubham Harne|           25|        10|100000|                   25|                10|        100000|
| Shubham Ambekar|           28|         1| 10000|                   28|                 1|         10000|
|Ravindra Thombre|         NULL|      NULL| 50000|                   24|                 5|         50000|
|            NULL|           23|      NULL| 60000|                   23|                 5|         60000|
|           Akash|           21|      NULL| 40000|                   21|                 5|         40000|
|           Pyush|         NULL|      NULL|  NULL|                   24|                 5|         50000|
|           Rohan|           24|         5|  NULL|                   24|                 5|         50000|
+----------------+-------------+----------+------+---------------------+------------------+--------------+

###2. Median

In [51]:
imputer=Imputer(
      inputCols=['Employee Age ','Experience', 'Salary'],
      outputCols=['{}_imputed'.format(c) for c in ['Employee Age ','Experience','Salary']]
      ).setStrategy("median")

In [52]:
imputer.fit(df_pyspark_inferschema).transform(df_pyspark_inferschema).show()

+----------------+-------------+----------+------+---------------------+------------------+--------------+
|   Employee name|Employee Age |Experience|Salary|Employee Age _imputed|Experience_imputed|Salary_imputed|
+----------------+-------------+----------+------+---------------------+------------------+--------------+
|  Mayur Kalamkar|           25|         8| 70000|                   25|                 8|         70000|
|   Sharad Dhole |           26|         4| 40000|                   26|                 4|         40000|
|  Rushabh Bhagat|           26|         3| 30000|                   26|                 3|         30000|
|   Shubham Harne|           25|        10|100000|                   25|                10|        100000|
| Shubham Ambekar|           28|         1| 10000|                   28|                 1|         10000|
|Ravindra Thombre|         NULL|      NULL| 50000|                   25|                 4|         50000|
|            NULL|           23|      NULL| 60000|                   23|                 4|         60000|
|           Akash|           21|      NULL| 40000|                   21|                 4|         40000|
|           Pyush|         NULL|      NULL|  NULL|                   25|                 4|         40000|
|           Rohan|           24|         5|  NULL|                   24|                 5|         40000|
+----------------+-------------+----------+------+---------------------+------------------+--------------+

###3. Mode

In [58]:
imputer=Imputer(
        inputCols=['Employee Age ','Experience','Salary'],
        outputCols=['{}_imputed'.format(c) for c in ['Employee Age ','Experience','Salary']]
        ).setStrategy('mode')

In [59]:
imputer.fit(df_pyspark_inferschema).transform(df_pyspark_inferschema).show()

+----------------+-------------+----------+------+---------------------+------------------+--------------+
|   Employee name|Employee Age |Experience|Salary|Employee Age _imputed|Experience_imputed|Salary_imputed|
+----------------+-------------+----------+------+---------------------+------------------+--------------+
|  Mayur Kalamkar|           25|         8| 70000|                   25|                 8|         70000|
|   Sharad Dhole |           26|         4| 40000|                   26|                 4|         40000|
|  Rushabh Bhagat|           26|         3| 30000|                   26|                 3|         30000|
|   Shubham Harne|           25|        10|100000|                   25|                10|        100000|
| Shubham Ambekar|           28|         1| 10000|                   28|                 1|         10000|
|Ravindra Thombre|         NULL|      NULL| 50000|                   25|                 1|         50000|
|            NULL|           23|      NULL| 60000|                   23|                 1|         60000|
|           Akash|           21|      NULL| 40000|                   21|                 1|         40000|
|           Pyush|         NULL|      NULL|  NULL|                   25|                 1|         40000|
|           Rohan|           24|         5|  NULL|                   24|                 5|         40000|
+----------------+-------------+----------+------+---------------------+------------------+--------------+